.navbar {
	background-color: #118BC0;
	height: 60px;
}

.darkblue {
	background-color: #0070A4;
	width: 110px;
	height: 60px;
	margin-left: auto;
	padding-top: 20px;
}

.nbwr {
	background-color: #118BC0;
	height: 30px;
	width: 120px;
	margin-left: 20px;
	margin-top: 10px;
	padding-top: 10px;
	float: left;
}

.wordpress {
	color: white;
	font-family: sans-serif;
	margin-top: 3px;
	float: left;
}

.com {
	color: #98CEE4;
	font-family: sans-serif;
	margin-top: 3px;
	float: left;
}

.login {
	color: white;
	font-family: sans-serif;
	margin-left: 30px;
	margin-top: 3px;
	float: left;
}

.navwb {
	background-color: white;
	height: 40px;
	width: 40px;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
	overflow: hidden;
}

img {
	height: 100%;
	width: 100%;
}

.bigblue {
	background-color: #344051;
	height: 1385px;
	padding-bottom: 100px;
	background-size: cover;
	background-image: url(../images/crowd.jpg);
}

.text1 {
	color: white;
	font-size: 40px;
	font-family: sans-serif;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 200px;
	width: 450px;
}

.text2 {
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: lighter;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 40px;
	width: 350px;
}

.wrapper {
	padding: 10px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0,0,0,0.3);
	margin-top: 40px;

}
.bluebar {
	background-color: #118BC0;
	height: 65px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.createweb {
	color: white;
	font-family: sans-serif;
	font-size: 25px;
	margin-top: 17px;
	margin-left: 40px;
	float: left;
}

.babywhite {
	color: white;
	margin-top: 265px;
	text-align: center;
	display: block;
}

.medwhite {
	background-color: transparent;
	height: 85px;
	width: 375px;
	margin-top: 165px;
	margin-right: auto;
	margin-left: auto;
}

.ingreysmall {
	background-color: transparent;
	height: 75px;
	width: 60px;
	float: left;
}

.ingreylong {
	background-color: transparent;
	height: 75px;
	width: 300px;
	margin-left: 70px;
}

.blueboxhead {
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	margin-top: 10px;
	float: left;
}

.blueboxtext {
	color: white;
	font-family: sans-serif;
	font-weight: lighter;
	margin-top: 10px;
	float: left;
}

.medwhite2 {
	background-color: transparent;
	height: 85px;
	width: 375px;
	margin-top: 35px;
	margin-right: auto;
	margin-left: auto;
}

.ingreysmall2 {
	background-color: transparent;
	height: 75px;
	width: 60px;
	float: left;
}

.ingreylong2 {
	background-color: transparent;
	height: 75px;
	width: 300px;
	margin-left: 70px;
}

.lightgrey {
	background-color: #E8F0F5;
	height: 240px;
	padding-right: 75px;
	padding-left: 75px;
}

.lightgreytext {
	color: #31415A;
	text-align: center;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 30px;
	margin-top: 30px;
	line-height: 1.6;
	float: left;
}

.darkgrey {
	background-color: #D1D3D7;
	height: 1855px;
	padding-top: 30px;
}

.whitebox1 {
	background-color: white;
	height: 280px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
}

.wbhead {
	color: #426283;
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
}

.wbtext {
	color: #4B4B4C;
	font-family: sans-serif;
	text-align: center;
	padding-right: 65px;
	padding-left: 65px;
	font-size: 20px;
	line-height: 1.6
}

.inwbgreys {
	background-color: #C7D2D8;
	height: 90px;
	width: 90px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
}

.greyimg {
	height: 50px;
	width: 50px;
	margin-left: 20px;
	margin-top: 20px;
}

.inwbgreyrs {
	background-color: white;
	height: 30px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
}

.inwbgreyrl {
	background-color: white;
	height: 80px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 15px;
}

.whitebox {
	background-color: white;
	height: 280px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
}

.lightgrey2 {
	background-color: #E8F0F5;
	height: 200px;
	padding-top: 40px;
}

.powers {
	color: #314156;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 30px;
	text-align: center;
}

.bluebar2 {
	background-color: #118BC0;
	height: 65px;
	width: 250px;
	margin-top: 65px;
	margin-left: auto;
	margin-right: auto;
}

.bottomnav {
	background-color: black;
	height: 170px;
	margin: 0 auto;
	padding-top: 30px;
}

.bntext {
	color: white;
	font-weight: inherit;
	font-family: sans-serif;
	text-align: center;
	font-size: 13px;
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
	display: block;
}

.bntext2 {
	color: white;
	font-weight: inherit;
	font-family: sans-serif;
	text-align: center;
	font-size: 13px;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
}

a {
	color: white;
	text-decoration: none;
	margin: 0 16px 0 0;
}

.bnwb {
	background-color: white;
	height: 30px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.automattic {
	margin-left: auto;
	margin-right: auto;

}